/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
 
input {
  /*-webkit-appearance: none;*/
  border: none;
  border-radius: 0;
  outline: none;
} 

/* FONT AVENIR */
@font-face {
  font-family: 'Avenir';
  src: url(font/AvenirLTStd-Book.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Avenir';
  src: url(font/AvenirLTStd-Roman.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url(font/AvenirLTStd-Black.otf);
  font-style: normal;
  font-weight: 700;
}

p {
  line-height: 1.7;
  font-size: 1.125rem;
  letter-spacing: 0.08em;
}

ul {
  list-style: none;
}

h1,
h3,
h5
 {
  font-family: 'Avenir', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2rem; /*32px*/
}

h3 {
  font-size: 1.375rem; /*22px*/
  margin: 0 1rem;
}

h5 {
  font-size: 1.125rem; /*18px*/
  text-align: center;
  margin: 0 1rem 0.5rem 2rem;
  letter-spacing: 0.03em;
}

h2,
h4,
h6 {
  font-family: 'Avenir', Helvetica, sans-serif;
  font-weight: 700;
  margin: 1rem 0 0.5rem 0;
}

h2 {
  font-size: 1.75rem; /*28px*/
}

h4 {
  font-size: 1.25rem; /*20px*/
}

h6 {
  font-size: 1rem; /*16px*/
}

/* Base-Header start here --------------*/
.header-box {
  margin: 1rem;
  padding: 1rem;
}
/* Base-Header end here --------------*/

/* Base-Main start here */
.base-main {
  background-color:#dad870;
  height: 100%;
  max-width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding: 3rem 1rem;
  text-align: center;
}
/* Base-Main end here --------------*/

/* Base-FOOTER start -----------------------------------------*/
.page-footer {
  background-color: #353535;
  display: flex;
  justify-content: flex-end;
  text-align: end;
  padding: 2rem 1rem;
}

 .copyright {
  border-top: 1px solid #ffffff;
}

.column-3 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.column-3 a {
  color: #ffffff;
  text-decoration: none;
}

.footer-column a,
.footer-column p {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.footer-column h3,
.footer-copyright {
  color: #dad870;
  font-size: 18px;
}
/* Base-Footer end here --------------*/

/* Page-Index start here */
.button,
.button1, /* orange*/
.button2 {
  background-color:#353535;
  padding: 0.6rem;
  border-radius: 0.6rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 200px;
}

.button1 {
  background-color: #ff5c4d;
  margin-top: 1rem;
}

.button a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 2.5rem;
  display: flex;
  justify-content: center;
}

.button1 a,
.button2 a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}
.button1 input{
  background-color: #ff5c4d;
  color: #fff;
  padding: 0 4rem;

}
.button input {
  background-color:#353535;
  color: #ffffff;
  padding: 0 4rem;
}

.button-login input {
  background-color: aliceblue;
}
/* Page-Index end here --------------*/

/* Page-Record start here */
.button-logout a {
  text-decoration: none;
  color: #353535;
  background-color: aqua;
  padding: 1rem;
}

.tooltip1{
  position: relative;
  cursor: pointer;
  display: flex;
  text-align: start;
  margin: 0.6rem;
}

.tooltip1 i{
  margin:0;
  padding:0;
}

.description1 {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.3rem;
  color: #fff;
  border-radius: 5px;
  background: #353535;
  width: 200px;
}

.description1:before {
  content: "";
  position: absolute;
  top: 10%;
  left: -5%;
  border: 15px solid transparent;
  border-top: 15px solid #353535;
  margin-left: -15px;
  transform: rotateZ(90deg);
}

.tooltip1:hover .description1{
  display: inline-block;
  z-index: 10;
  top: -10px;
  left: 30px;
}
/* Page-Record end here --------------*/

/* Page-Create start here */
article {
  background-color: rgba(255, 255, 255, 0.523);
  text-align: start;
  padding: 1rem;
  margin-bottom: 1rem;
}
/* Page-Create end here --------------*/

/* Page-update start here */
.update-container {
  display: flex;
  flex-direction: column;
}
/* Page-update end here --------------*/


/* Tablet layout start --------------------------------*/
@media only screen 
and (min-width: 511px) 
and (max-width: 960px) {
  /* .product-menu {
    display: flex;
    overflow-x: unset;
  }

  .product-menu>div {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .product-list {
    margin: 0.5rem 1rem 1rem 1rem;
  }
  .product-card {
    width: 30%;
  }*/
} 

/* Desktop layout start -------------------------------*/
@media only screen and (min-width: 961px) {
  /* Tool thips */

  
  /* FOOTER */
  .footer-column-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    }

    .footer-column-container a:hover {
      color: #dad870;
    }

    .column-1 {
    text-align: end;
    }

    .column-1,
    .column-2 {
      margin-bottom: 0;
      width: 25%;
    }
}
/* FOOTER end -----------------------------------------*/