{% extends "record.html" %}
{% block title %}List of records{% endblock %}

{% block header %}
  <nav class="navbar navbar-expand-lg" role="navigation" style="background-color: #ff5c4d;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #fff;">PokeMoney</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color: #dad870; background-color: #f8f9fa; border: var(--bs-border-width) solid #636464;">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="/record">Add Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/create">List of Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/1/update">Change Record</a>
          </li>
        </ul>
        <div class="nav-btn">
          <a class="nav-logout" href="{{url_for('login')}}">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="header-box">
    <h3>On this page,</h3>
    <h3>You can check the all records of your pocket money! </h3>
  </div>
{% endblock %}

{% block content %}
<div class="homepage">
  <main class="form-signin">
  <h1 class="fw-bold">My pocket money records</h1>
    <div class="button-btn">
      <a class="button" href="/record" role="button">Add new record</a>
    </div>

    <h3>Total: </h3>

      {% for post in posts %}
        <article>
          <div class="article-box">
            <p>Date: {{post.create}}</p>
          </div>
          <div class="article-box">
            <p>Amount:</p>
            <h2>£ {{post.title}}</h2>
          </div>
          <div>
            <p>Note:</p>
            <p>{{post.detail}}</p>
          </div>
          <div>
            <p>Saved at:{{post.created_at}}</p>
          </div>
          <div class="button-btn">
            <a class="button3" href="/{{post.id}}/update" role="button">Change</a>
          
            <a class="button4" href="/{{post.id}}/delete" role="button">Delete</a>
          </div>
        </article>
      {% endfor%}
  </main> 
</div>
{% endblock %}
