{% extends "base.html" %}
{% block title %}Top page{% endblock %}

{% block header %}
  <div class="header-box">
    <h3>Hl! </h3>
    <h3>Do you sometimes find it difficult to keep track of how much pocket money you have? This App is an easy and fun way for you to manage your pocket money.</h3>
    <h3>If you are interested, you can create an account below.</h3>
    <h5>  </h5>
  </div>
{% endblock %}

{% block content %}
  <div class="homepage">

    <h1>PokeMoney Go!</h1>
    
    <p>Create your account now!</p>
    <div class="button-btn">
      <a class="button" href="{{url_for('signup')}}" role="button">Signup Now</a>
    </div>
  
    <p>Already have an account?</p>  
    <div class="button-btn">
      <a class="button1" href="{{url_for('login')}}" role="button">Login</a>
    </div>
    
  </div>

{% endblock %}

{% block footer %}
  <div class="draw" >
    <img src="../static/images/Olivia_draw04.png" alt="My ginger cat Sora is surfing: created by Olivia (age8)">
  </div>
{% endblock %}