{% extends "base.html" %}
{% block title %}Top page{% endblock %}

{% block subtitle %}
  <div class="header-box">
    <h3>Hl! </h3>
    <h3>This app will provide you to get manage how to record your pokket money. </h3>
    <h3>If you are interested in please create your account.</h3>
  </div>
{% endblock %}

{% block content %}
  <div>
    <h1>PokeMoney Go!</h1>
    
    <p>Create your account now!</p>
    <div class="button">
      <a href="/signup" role="button">Signup Now</a>
    </div>
  
    <p>Already have an account?</p>  
    <div class="button">
      <a href="/login" role="button">Login</a>
    </div>
  </div>
{% endblock %}