{% extends "base.html" %}
{% block title %}Login{% endblock %}


{% block subtitle %}
  <div class="header-box">
    <h3>Did you already create your account?</h3>
    <h3>If so, you can log in here!</h3>
  </div>
{% endblock %}

{% block content %}
  <div class="form-signin" style="width: 20rem;">
    <h1>Please Login</h1>
      <form action="" method="POST">

        <div class="form-floating">
          <input type="text" class="form-control" id="floatingPassword" placeholder="username" name="username">
          <label for="username">Username</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="button1">
          <input type="submit" value="Login">
        </div>
          
        <div class="button">
          <a href="/">Back</a>
        </div>
      
      </form>
  </div>
{% endblock %}