{% extends "base.html" %}

{% block content %}
  <main class="form-signin w-100 m-auto">
    <h1>Please Login</h1>
      <form action="" method="POST">

        <div class="form-floating">
          <input type="text" class="form-control" id="floatingPassword" placeholder="username" name="username">
          <label for="username">Username</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="button">
          <input type="submit" value="Login">
        </div>
          
        <div class="button">
          <a href="/">Back</a>
        </div>
      
      </form>
  </main>
{% endblock %}