{% extends "base.html" %}
{% block title %}Login{% endblock %}


{% block header %}
  <div class="header-box">
    <h3>Did you already create your account?</h3>
    <h3>If so, you can login below.</h3>
  </div>
{% endblock %}

{% block content %}
  <div class="homepage">
    <div class="form-signin" style="width: 20rem;">
      <h1 class="fw-bold">Please Login</h1>
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingPassword" placeholder="username" name="username" required>
            <label for="username">Username</label>
          </div>

          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
            <label for="floatingPassword">Password</label>
            
          </div>

          <div class="button-btn">
            <input class="button2" type="submit" value="Login" name="submit">
          </div>
            
          <div class="button-btn">
            <a class="button1" href="/">Back</a>
          </div>
        
        </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="draw-1">
    <img src="../static/images/Olivia_draw02.png" alt="My ginger cat Sora is plaing at the park: created by Olivia (age8)">
  </div>
{% endblock %}