{% extends "base.html" %}
{% block title %}Record{% endblock %}

{% block header %}
  <nav class="navbar navbar-expand-lg" role="navigation" style="background-color: #ff5c4d;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #fff;">PokeMoney</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color: #dad870; background-color: #f8f9fa; border: var(--bs-border-width) solid #636464;">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="/record">Add Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">List of Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/1/update">Change Record</a>
          </li>
        </ul>
        <div class="nav-btn">
          <a class="nav-logout" href="/login">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="header-box">
    <h3>On this page,</h3>
    <h3>You can input the amount of your pocket money to add. </h3>
  </div>
{% endblock %}

{% block content %}
  <div class="homepage">
    <main class="form-signin" style="width: 20rem;">

    <h1>Add your pocket money</h1>

      <form action="" method="POST" >
        <div class="form-container">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue" placeholder="e.g. £1 £2 £5 £10" name="title"><!-- get title -->
            <label for="floatingInputValue">Input the amount you got</label>
          </div>
                        
          <div class="tooltip1">
            <i class="fa fa-info" aria-hidden="true"></i>
            <div class="description1">*For Example: For £5 enter 5</div>
          </div>
    
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" type="text" name="body"></textarea><!-- get body -->
            <label for="floatingTextarea2">Description</label>
          </div>
        </div>

        <div class="button-btn">
          <input class="button2" type="submit" value="Save">
        </div>
      </form>   
    </main>
  </div>   
{% endblock %}

{% block footer %}
  <div class="draw-2">
    <img src="../static/images/Olivia_draw01.png" alt="My ginger cat Sora is doing a cartwheel at the park: created by Olivia (age8)">
  </div>
{% endblock %}
