{% extends "base.html" %}
{% block title %}Signup{% endblock %}

{% block header %}
  <div class="header-box">
    <h3>Did you want to Join us?</h3>
    <h3>Please create your account here!</h3>
  </div>
{% endblock %}

{% block content %}
  <div class="homepage">
    <main class="form-signin" style="width: 20rem;">
    

      <h1>Create a<br>New Account</h1>
        <form action="" method="POST">

          <div class="form-floating">
            <input type="text" class="form-control" name="username" id="floatingPassword" placeholder="username" >
            <label for="username">Username</label>
          </div>

          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="password">Password</label>
          </div>
          
          <div class="button-btn">
            <input class="button2" type="submit" value="Join">
          </div>

          <div class="button-btn">
            <a class="button1" href="/">Back</a>
          </div>

        </form>
    
    </main>
  </div>
{% endblock %}

{% block footer %}
  <div class="draw-1">
    <img src="../static/images/Olivia_draw03.png" alt="">
  </div>
{% endblock %}
