{% extends "base.html" %}
{% block title %}Signup{% endblock %}

{% block header %}
  <div class="header-box">
    <h3>Thank you for choosing our app! Please create your account below.</h3>
  </div>
{% endblock %}

{% block content %}
  <div class="homepage">
    <main class="form-signin" style="width: 20rem;">

      <h1 class="fw-bold">Create a<br>New Account</h1>
        <form action="" method="POST">
          
          <div class="form-floating">
            <input type="text" class="form-control" name="username" id="floatingPassword" placeholder="Username" required>
            <label for="username">Username</label>
          </div>

          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
            <label for="password">Password</label>
          </div>
          
          <div class="button-btn">
            <input class="button2" type="submit" value="Join" name="submit">
          </div>

          <div class="button-btn">
            <a class="button1" href="/">Back</a>
          </div>

        </form>
    
    </main>
  </div>
{% endblock %}

{% block footer %}
  <div class="draw-1">
    <img src="../static/images/Olivia_draw03.png" alt="My ginger cat Sora is swimming: created by Olivia (age8)">
  </div>
{% endblock %}
