{% extends "base.html" %}
{% block title %}Update{% endblock %}


{% block content %}
<div>
  <h1>Rewrite your record</h1>

  <form action="" method="POST">
    <div class="update-container">
      <div class="form-floating">
        <input type="text" name="title" value="{{post.title}}" class="form-control">
        <label for="title">Change the amount?</label>
      </div>
      <div class="form-floating">
        <input type="text" name="body" id="" value="{{post.body}}" class="form-control">
        <label for="boby">Change Discripthion?</label>
      </div>
    </div>

    <div class="button1">
      <input type="submit" value="Change">
    </div> 

    <div class="button">
      <a href="/create">Back</a>
    </div>

  </form>
</div>
{% endblock %}