{% extends "base.html" %}
{% block title %}Update{% endblock %}

{% block header %}
  <nav class="navbar navbar-expand-lg" role="navigation" style="background-color: #ff5c4d;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #fff;">PokeMoney</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color: #dad870; background-color: #f8f9fa; border: var(--bs-border-width) solid #636464;">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="/record">Add Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">List of Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/1/update">Change Record</a>
          </li>
        </ul>
        <div class="nav-btn">
          <a class="nav-logout" href="{{url_for('login')}}">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="header-box">
    <h3>On this page,</h3>
    <h3>You can check the all records of your pocket money! </h3>
  </div>
{% endblock %}


{% block content %}
  <div class="homepage">
    <main class="form-signin">

    <h1 class="fw-bold">Edit your record</h1>

      <form action="" method="POST">
        <div class="form-container">
          <div class="form-floating">
            <input type="date" name="create" value="{{post.create.date()}}" class="form-control" required>
            <label for="create">Change the date?</label>
          </div>
          <div class="form-floating">
            <input type="text" name="title" value="{{post.title}}" class="form-control">
            <label for="title">Change the amount?</label>
          </div>
          <div class="form-floating">
            <input type="text" name="detail" id="" value="{{post.detail}}" class="form-control">
            <label for="boby">Change Discripthion?</label>
          </div>
        </div>

        <div>
          <p>Saved at:{{post.created_at}}</p>
        </div>

        <div class="button-btn">
          <input class="button3" type="submit" value="Change">
        </div> 

        <div class="button-btn">
          <a class="button1" href="/create">Back</a>
        </div>

      </form>
    </main>
  </div>
{% endblock %}
{% block footer %}
  <div class="draw-3">
    <img src="../static/images/Olivia_draw05.png" alt="Rainbow and love harts: created by Olivia (age8)">
  </div>
{% endblock %}